.DashboardNav {
  /*  */
}

.DashboardIndex {
  /*  */
}

.DashboardGroups {
  /* */
}

.DashboardGroupsList {
  /*  */
}

.GroupCard {
  @apply text-slate-700 dark:text-slate-300 gap-3
  relative bg-white dark:bg-slate-800
  rounded-xl px-2 py-3 shadow-md;
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: 24px 1fr;
  transition: all 0.7s;
  /* grid-template-rows: 24px 1fr 48px; */

  &.online {
    @apply !shadow-emerald-300 dark:!shadow-emerald-800 border
    border-emerald-400 dark:border-emerald-600 border-b-[16px];

    /* .devices {
      @apply shadow-emerald-300;
    } */
  }

  &.dashboard-friendly {
    @apply mx-[-0.375rem]
    !p-3 sm:mx-auto sm:p-2;

    .devices {
      @apply mx-[-0.75rem];
    }
  }

  .row {
    @apply flex flex-row items-center gap-1;
  }

  .icon {
    grid-area: 1 / 1 / 2 / 2;
  }
  .name {
    grid-area: 1 / 2 / 2 / 3;
  }
  .body {
    grid-area: 2 / 1 / 3 / 3;
  }

  .devices {
    @apply border border-slate-200 p-2 dark:border-slate-600
    rounded-xl bg-slate-100 dark:bg-slate-700 flex
    shadow-slate-200 dark:shadow-slate-600
    flex-row gap-2 shadow-inner flex-wrap;
  }

  .SimpleDeviceCard {
    @apply bg-white dark:bg-slate-700 border shadow rounded-lg
    p-2 flex flex-col grow border-slate-200 dark:border-slate-600;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    min-width: 275px;

    &.online {
      @apply !border-emerald-200 dark:!border-emerald-800
      shadow-emerald-200 dark:shadow-emerald-800;
    }

    &:hover {
      gap: 0.5rem;
    }

    > .head {
      display: flex;
      justify-content: space-between;

      > .name {
        > code {
          @apply text-white bg-primary rounded-full py-1 px-3 text-lg;
        }
      }
    }

    > .details {
      /* height: 0; */
      transition: all 0.3s;
      /* visibility: hidden; */
      display: none;

      .ping {
        @apply rounded-full shadow-sm
        bg-slate-500 py-0.5 px-2
        text-white text-xs font-semibold;

        &.perfect {
          @apply bg-teal-400 dark:bg-teal-600;
        }
        &.great {
          @apply bg-emerald-400 dark:bg-emerald-600;
        }
        &.good {
          @apply bg-green-400 dark:bg-green-600;
        }
        &.weak {
          @apply bg-orange-400 dark:bg-orange-600;
        }
        &.very-week {
          @apply bg-rose-400 dark:bg-rose-600;
        }
        &.awful {
          @apply bg-red-700 dark:bg-red-300;
        }
      }

      .options {
        @apply flex gap-1;
      }
    }

    &:hover > .details {
      /* height: auto; */
      /* visibility: visible; */
      display: flex;
    }

    /* > .details * {
      height: 0;
      transition: all 0.3s;
    }

    &:hover > .details * {
      height: auto;
    } */
  }

  .DeviceCard {
    @apply text-slate-600 dark:text-slate-400 grid flex-grow
    gap-2;
    min-width: 250px;
    width: 33%;
    max-width: 100%;
    grid-template-columns: 48px auto 36px;
    grid-template-rows: 48px auto auto;

    .device-icon {
      grid-area: 1/1/2/2;
    }
    .device-name {
      grid-area: 1/2/2/3;
    }
    .device-body {
      grid-area: 2/1/3/3;
    }
    .device-actions {
      grid-area: 2/3/3/4;
    }

    .device-state {
      grid-area: 3/1 / span 1 / span 3;
      @apply bg-slate-100 dark:bg-slate-600 rounded shadow-inner
      p-2 font-mono;
      /* color: red; */
    }
  }
}

.KeyControl {
  display: flex;
  flex-direction: column;
}

.UserProfile {
  @apply flex flex-col items-center justify-center gap-8;
  min-height: 95vh;

  h3 {
    @apply flex items-center justify-between gap-4;
    & > svg {
      @apply w-12;
    }
  }
  .name {
    @apply text-2xl font-bold;
  }
}

.UserProfileUpdate {
  @apply flex flex-col items-center justify-center;
  min-height: 95vh;

  form {
    @apply flex flex-col gap-8 items-stretch justify-center
    max-w-sm mx-auto;
    .form-row {
      @apply flex justify-center items-center gap-4;
      svg {
        @apply w-12 h-12 text-slate-500;
      }
      label {
        @apply grow;
      }
    }
    .options {
      @apply flex flex-row-reverse items-center justify-start
      gap-2;
    }
  }
}

.DeleteDeviceCard {
  @apply flex items-center justify-center;
  height: 70vh;

  .card {
    @apply mx-auto p-8 rounded-xl shadow-lg shadow-rose-100
    dark:shadow-rose-800 dark:border-rose-700
    border border-rose-400 text-center flex flex-col gap-8;

    .buttons {
      @apply flex justify-start flex-row-reverse gap-4;
    }
  }
}
