@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Color Palette */

html {
  --primary-color: #3b82f6;
  --secondary-color: #6366f1;
  --body-bg: #f1f5f9;
  --links-color: #2563eb;
}

a {
  @apply hover:underline;
  color: var(--links-color);
}

.btn {
  &:disabled {
    filter: blur(0.75px) grayscale(60%);
  }
}

.card {
  @apply bg-white p-3 rounded-lg shadow-lg;
}

@media (prefers-color-scheme: dark) {
  .dark\:highlight-white\/5 {
    box-shadow: inset 0 1px 1px 0 rgb(255 255 255/0.07) !important;
  }
}

.label {
  // @apply mb-2;
}

input {
  @apply w-full border border-slate-400 rounded-md py-1 px-2 shadow;
}

label {
  .error {
    @apply text-red-600 italic font-bold;
  }
  input {
    @apply mt-2;
  }
}

.NavigatingScreen {
  @apply fixed top-0 left-0 bottom-0 right-0 
    text-white text-2xl bg-emerald-400 flex 
    flex-col items-center justify-center font-bold italic; //pointer-events-none
  /* display: none; */
  /* opacity: 0; */
  animation-duration: 50ms;
  /* animation-name: slideInUp; // fadeIn */
  animation-name: fadeIn;
  animation-timing-function: ease-out;

  /* &.show {
    display: flex;
  } */

  &.hide {
    /* animation-name: slideOutUp; // fadeOut */
    animation-name: fadeOut;
    /* animation-direction: reverse; */
    animation-duration: 250ms;
  }
}

/* ========== KeyFrames ========== */

@keyframes fadeIn {
  /* 0% {diplay: block; opacity: 0;} 1% {opacity:.01;} */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  /* 99% {
    opacity: 0;
  }
  100% {
    display: none;
  } */
}

@keyframes slideInUp {
  /* box shadow */
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutUp {
  /* box shadow */
  0% {
    /* opacity: 1; */
    transform: translateY(0);
  }
  95%,
  100% {
    transform: translateY(-100%);
    /* opacity: 0; */
  }
}
